<h1>Update Hotel Details</h1>

<%= render 'form', hotel: @hotel %>
<%= link_to 'Delete', @hotel, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back', hotels_path, class: "btn btn-dark" %>

